:root {
  --main-color: rgb(2, 98, 72);
  --itens-color: rgb(250, 74, 9);
  --sub-itens-color: #f7f4f4;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.html {
  font-size: 62.5%;
}
body {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-content: center;
  font-family: Gabarito;
  background-color: var(--main-color);
}
#container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.start-screen {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.start-screen h1 {
  position: relative;
  color: var(--itens-color);
  font-size: 3rem;
}
.start-screen h1::after {
  content: '';
  position: absolute;
  height: 2.5px;
  width: 5.7rem;
  bottom: 3px;
  left: 2px;
  border-radius: 1rem;
  background-color: var(--sub-itens-color);
}

#start-menu {
  display: flex;
  flex-direction: column;
}

#start-menu label {
  font-size: 1rem;
  color: var(--sub-itens-color);
  margin-bottom: 0.2rem;
}

#start-options {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--itens-color);
  text-transform: uppercase;
  padding: 0.2rem;
  border: none;
  outline: none;
  background-color: var(--main-color);
}
#start-options option {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--sub-itens-color);
  padding: 0.2rem;
}

.start-screen > button {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--sub-itens-color);

  text-transform: uppercase;
  font-weight: bold;
  margin-top: 4rem;
  padding: 0.2rem 1rem;
  border: none;
  border-radius: 0.3rem;
  background-color: var(--itens-color);

  transition: 0.3s ease-in-out;
}

.start-screen > button:hover {
  color: var(--main-color);
  background-color: var(--itens-color);
}

/* Game Screen */
.game-screen {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
}
#hand-box {
  display: flex;
  height: 10.08rem;
}

#hand-box img {
  width: 7rem;
}

#computer-hand > img {
  transform: rotate(180deg);
}

#user-hand,
#computer-hand {
  display: flex;
  align-items: center;
}
.info {
  display: flex;
  position: absolute;
  right: 0rem;
  top: 6rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: rotate(270deg);
}
.info h1 {
  font-size: 1rem;
  color: var(--sub-itens-color);
}

.info span {
  font-size: 1.4rem;
  color: var(--itens-color);
}

.menu-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
  padding: 0.5rem 0;
}

#input-box {
  display: flex;
  flex-direction: column;
}
#input-box label {
  font-size: 1rem;
  color: var(--sub-itens-color);
  margin-bottom: 0.4rem;
}
#input-box input {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--sub-itens-color);
  text-align: center;
  text-transform: uppercase;
  padding: 0.2rem;
  border: none;
  outline: none;
  border-radius: 0.3rem;
  background-color: rgb(145, 144, 144);
}

#input-box input::-webkit-inner-spin-button,
#input-box input::-webkit-outer-spin-button {
  appearance: none;
}

.menu-box > button {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--sub-itens-color);

  text-transform: uppercase;
  font-weight: bold;
  margin-top: 4rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.3rem;
  background-color: var(--itens-color);

  transition: 0.3s ease-in-out;
}

.menu-box > button:hover,
.restart-game:hover {
  color: var(--main-color);
}

.result-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.result-box > span {
  font-size: 0.9rem;
  color: var(--sub-itens-color);
  margin-bottom: 0.4rem;
}
.restart-game {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--sub-itens-color);

  text-transform: uppercase;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.3rem;
  background-color: var(--itens-color);

  transition: 0.3s ease-in-out;
}
.hide {
  display: none;
}
